<!-- your html code here -->
<div class="container">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
        ex ea commodi consequatur.</p>
    <div class="card-group align-items-cente">
        <div class="card col-4 m-2 border-light" style="width: 18rem;">
            <img class="card-img-top img-fluid max-width: 100%; height: auto;"
                src="https://cdn.wallpapersafari.com/57/98/GyPOF3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-info">Project Name</h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt, explicabo.</p>
            </div>
        </div>
        <div class="card col-4 m-2 border-light" style="width: 18rem;">
            <img class="card-img-top img-fluid max-width: 100%; height: auto;"
                src="https://cdn.wallpapersafari.com/57/98/GyPOF3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-info">Project Name</h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt, explicabo.</p>
            </div>
        </div>
        <div class="card col-4 m-2 border-light" style="width: 18rem;">
            <img class="card-img-top img-fluid max-width: 100%; height: auto;"
                src="https://cdn.wallpapersafari.com/57/98/GyPOF3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-info">Project Name</h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt, explicabo.</p>
            </div>
        </div>
    </div>
</div>